# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
docker-compose.local.yml
.docker/

# Build output
.next/
out/
build/
dist/

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
.env
node_modules/
**/.DS_Store

fetch-and-deploy-main.sh
fetch-and-deploy-dev.sh